@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
/* Header */
/* Font for all Layout */
/* Letter-spacing standard value */
/* Burger-toggle */
/* Animation */
/* Font for h in register */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.website {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 15;
}
.header__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.header__container .header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.header__container .header__block .header__logo {
  margin: 10px auto 10px 0;
  z-index: 20;
}
.header__container .header__block .header__menu {
  z-index: 20;
}
.header__container .header__block .header__menu .header__menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0 41px auto;
}
.header__container .header__block .header__menu .header__menu-list .header__menu-list-item {
  text-align: center;
  font: 14px "Open Sans", sans-serif;
  letter-spacing: 0.0235em;
}
.header__container .header__block .header__menu .header__menu-list .header__menu-list-item .header__menu-list-link {
  color: black;
  padding: 10px 20px;
}
.header__container .header__block .header__menu .header__menu-list .header__menu-list-item .header__menu-list-link:hover {
  background-color: #eeeeee;
  color: #337ab7;
}
.header__container .header__block .header__menu .header__menu-list .header__menu-list-item .header__menu-list-link.header__menu-list-link-application {
  background-color: #337ab7;
  color: #ffffff;
  border-radius: 50px;
  font-weight: bold;
}
.header__container .header__block .header__menu .header__menu-list .header__menu-list-item .header__menu-list-link.header__menu-list-link-application:hover {
  background-color: #3498db;
  color: #ffffff;
}

@media (max-width: 1440px) {
  .header__container {
    max-width: min(1250px, 100%);
  }
}
@media (max-width: 1250px) {
  .header__container {
    max-width: min(992px, 100%);
  }
}
@media (max-width: 992px) {
  .header__container {
    max-width: min(798px, 100%);
  }
  .header__container .header__block .header__logo {
    margin: 7px auto 7px 0;
  }
  .header__container .header__block .header__logo img {
    width: 70px;
    height: 70px;
  }
  .header__container .header__block .header__menu .header__menu-list {
    margin: 32px 0 33px auto;
  }
  .header__container .header__block .header__menu .header__menu-list .header__menu-list-item .header__menu-list-link {
    padding: 10px 15px;
  }
}
@media (max-width: 798px) {
  .header__container {
    max-width: min(697px, 100%);
  }
  .header__container .header__block .header__logo {
    margin: 5px auto 5px 0;
  }
  .header__container .header__block .header__logo img {
    width: 60px;
    height: 60px;
  }
  .header__container .header__block .header__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 30px;
    border-radius: 4px;
    background-color: #337ab7;
    z-index: 20;
    margin: 20px 0 20px auto;
  }
  .header__container .header__block .header__burger .header__burger-toggle {
    display: block;
    position: relative;
    height: 2px;
    width: 26px;
    background-color: #ffffff;
  }
  .header__container .header__block .header__burger .header__burger-toggle::after, .header__container .header__block .header__burger .header__burger-toggle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 26px;
    background-color: #ffffff;
  }
  .header__container .header__block .header__burger .header__burger-toggle::after {
    bottom: 6px;
  }
  .header__container .header__block .header__burger .header__burger-toggle::before {
    top: 6px;
  }
  .header__container .header__block .header__burger:hover {
    background-color: #3498db;
  }
  .header__container .header__block .header__menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding-top: 70px;
    overflow: auto;
    transition: all 0.3s ease 0.5s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    z-index: 5;
  }
  .header__container .header__block .header__menu.active {
    top: 0;
  }
  .header__container .header__block .header__menu .header__menu-list {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .header__container .header__block .header__menu .header__menu-list .header__menu-list-item {
    margin-bottom: 1.5em;
  }
  .header__container .header__block .header__menu .header__menu-list .header__menu-list-item:first-child {
    margin-top: 0.5em;
  }
  .header__container .header__block .header__menu .header__menu-list .header__menu-list-item:nth-child(6) {
    margin-bottom: 25px;
  }
  .header__container .header__block .header__menu .header__menu-list .header__menu-list-item .header__menu-list-link {
    padding: 10px 20px;
  }
}
@media (max-width: 697px) {
  .header__container {
    max-width: min(497px, 100%);
  }
}
@media (max-width: 497px) {
  .header__container {
    max-width: 320px;
  }
}
.content {
  width: 100%;
  margin: 100px auto 0 auto;
}

.register {
  width: 100%;
  padding-top: 55px;
  background-color: #f7f7f7;
  /* Content Left */
  /* Registration Form */
  /* Submit Button */
}
.register__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.register__container .register__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.register__info {
  margin: 2.3em 0 0 -1.4em;
  text-align: center;
  padding: 0 20px;
}
.register__info-h {
  font: bold 33px "Open Sans", sans-serif;
  letter-spacing: 0.07em;
  margin-bottom: 26px;
}
.register__info-p {
  font: 16px "Open Sans", sans-serif;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 3.5em;
}
.register__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -2px;
  /* Checkbox Setting's */
}
.register__form-h {
  font: bold 20px "Open Sans", sans-serif;
  letter-spacing: 0.1em;
  margin-bottom: 12px;
}
.register__form .register__label {
  display: flex;
  flex-direction: row;
  text-align: center;
  font: 14px "Open Sans", sans-serif;
}
.register__form .register__label > .register__required {
  display: flex;
  align-items: center;
  padding-top: 3px;
  font-weight: bold;
  color: red;
  margin-left: 3px;
}
.register__form-input {
  display: flex;
  flex-direction: column;
  font: 16px "Open Sans", sans-serif;
}
.register__form-input #register__choise,
.register__form-input #register__email,
.register__form-input #register__lastname,
.register__form-input #register__name,
.register__form-input #register__phone {
  width: 590px;
  height: 52px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 15px;
  margin: 2px 0 10px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
}
.register__form-input #register__choise:focus,
.register__form-input #register__email:focus,
.register__form-input #register__lastname:focus,
.register__form-input #register__name:focus,
.register__form-input #register__phone:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.25);
}
.register__form-input #register__choise:focus::-moz-placeholder, .register__form-input #register__email:focus::-moz-placeholder, .register__form-input #register__lastname:focus::-moz-placeholder, .register__form-input #register__name:focus::-moz-placeholder, .register__form-input #register__phone:focus::-moz-placeholder {
  color: transparent;
  letter-spacing: 1px;
}
.register__form-input #register__choise:focus::placeholder,
.register__form-input #register__email:focus::placeholder,
.register__form-input #register__lastname:focus::placeholder,
.register__form-input #register__name:focus::placeholder,
.register__form-input #register__phone:focus::placeholder {
  color: transparent;
  letter-spacing: 1px;
}
.register__form-application {
  display: inline-flex;
  align-items: center;
  margin: 10px 0 36px 0;
}
.register__form-application #register__checkbox {
  width: 13px;
  height: 13px;
  margin: 0 5px 0 0;
}
.register__form-application .register__label-checkbox {
  position: relative;
  font: 14px "Open Sans", sans-serif;
}
.register__form-application .register__label-checkbox a {
  margin-left: 3px;
}
.register__form-application .register__label-checkbox .register__required {
  position: absolute;
  top: 3px;
  text-align: center;
  font-weight: bold;
  color: red;
  margin-left: 8px;
}
.register #register__submit {
  margin: 0 auto 30px auto;
  width: 370px;
  height: 52px;
  padding: 10px 15px;
  border-radius: 37px;
  font-weight: bold;
  background-color: #337ab7;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.register #register__submit:hover {
  background-color: #3498db;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  list-style: none;
  margin: 0 7px 40px 7px;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #b3b3b3;
  border-radius: 50%;
}

.slick-active button {
  background-color: #666666;
}

.course {
  width: 100%;
  padding-top: 66px;
  margin-bottom: 84px;
}
.course__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.course__container .course__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.course__container .course__block .course-title {
  font: bold 33px "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.course__container .course__block .course__item {
  width: 100%;
}
.course__container .course__block .course__item .slick-list {
  overflow: hidden;
}
.course__container .course__block .course__item .slick-track {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.course__container .course__block .course__item .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.course__container .course__block .course__item .slick-slide .course__item-title {
  font: bold 22px "Open Sans", sans-serif;
  padding: 18px 0;
  margin-bottom: 30px;
  letter-spacing: 0.068em;
  border-bottom: 1px solid #43a0de;
}
.course__container .course__block .course__item .slick-slide .course__item-description {
  font: 16px "Open Sans", sans-serif;
  color: #c3c3c3;
  line-height: 25px;
  padding: 0 32px;
}

@media (max-width: 1440px) {
  .content .course .course__container {
    max-width: min(1250px, 100%);
  }
}
@media (max-width: 1250px) {
  .content .course {
    margin-bottom: 80px;
  }
  .content .course .course__container {
    max-width: min(992px, 100%);
  }
  .content .course .course__container .course__block .course-title {
    font: 700 28px "Open Sans", sans-serif;
    margin-bottom: 24px;
  }
  .content .course .course__container .course__block .course__item .slick-slide .course__item-title {
    font: bold 20px "Open Sans", sans-serif;
    padding: 16px 0 14px 0;
    margin-bottom: 24px;
    letter-spacing: 0.034em;
    border-bottom: 1px solid #43a0de;
  }
  .content .course .course__container .course__block .course__item .slick-slide .course__item-description {
    font: 14px "Open Sans", sans-serif;
    color: #c3c3c3;
    line-height: 24px;
    padding: 0 28px;
  }
}
@media (max-width: 992px) {
  .content .course {
    padding-top: 40px;
    margin-bottom: 60px;
  }
  .content .course .course__container {
    max-width: min(798px, 100%);
  }
  .content .course .course__container .course__block .course-title {
    font: 700 26px "Open Sans", sans-serif;
    margin-bottom: 26px;
  }
  .content .course .course__container .course__block .course__item .slick-slide .course__item-description {
    padding: 0 15px;
    margin-bottom: 42px;
  }
}
@media (max-width: 798px) {
  .content .course {
    padding-top: 40px;
  }
  .content .course .course__container {
    max-width: min(497px, 100%);
  }
  .content .course .course__container .course__block .course-title {
    font: 700 22px "Open Sans", sans-serif;
    letter-spacing: 0.075em;
    margin-bottom: 25px;
  }
  .content .course .course__container .course__block .course__item .slick-slide {
    padding: 0 40px;
  }
  .content .course .course__container .course__block .course__item .slick-slide .course__item-title {
    font: bold 20px "Open Sans", sans-serif;
    padding: 20px 0 10px 0;
    line-height: 22px;
    margin-bottom: 14px;
    border-bottom: 1px solid #43a0de;
  }
  .content .course .course__container .course__block .course__item .slick-slide .course__item-description {
    font: 14px "Open Sans", sans-serif;
    color: #c3c3c3;
    line-height: 23px;
    padding: 0 40px;
    margin-bottom: 42px;
  }
}
@media (max-width: 697px) {
  .content .course {
    padding-top: 40px;
  }
  .content .course .course__container {
    max-width: min(497px, 100%);
  }
}
@media (max-width: 497px) {
  .content .course {
    padding-top: 68px;
    margin-bottom: 30px;
  }
  .content .course .course__container {
    max-width: 320px;
  }
  .content .course .course__container .course__block .course-title {
    font: 700 22px "Open Sans", sans-serif;
    letter-spacing: 0.075em;
    margin-bottom: 30px;
  }
  .content .course .course__container .course__block .course__item .slick-slide {
    padding: 0 15px;
  }
  .content .course .course__container .course__block .course__item .slick-slide .course__item-title {
    font: bold 20px "Open Sans", sans-serif;
    padding: 20px 0 5px 0;
    line-height: 23px;
    margin-bottom: 14px;
    border-bottom: 1px solid #43a0de;
  }
  .content .course .course__container .course__block .course__item .slick-slide .course__item-description {
    font: 14px "Open Sans", sans-serif;
    color: #c3c3c3;
    line-height: 22px;
    padding: 0;
    margin-bottom: 42px;
  }
}
.statistic {
  padding: 65px 0;
  width: 100%;
  background-color: #3498db;
}

.statistic__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.statistic__container .statistic__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.statistic__container .statistic__info img {
  width: 85px;
  height: 60px;
}
.statistic__container .statistic__info h2 {
  font: bold 28px "Open Sans", sans-serif;
  color: #ffffff;
  margin: 20px 0 10px 0;
}
.statistic__container .statistic__info p {
  font: 16px "Open Sans", sans-serif;
  color: #ffffff;
}
.statistic__container .statistic__info-1 {
  margin: 0 26px 0 58px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistic__container .statistic__info-2 {
  margin: 0 24px 0 40px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistic__container .statistic__info-3 {
  margin: 0 24px 0 50px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistic__container .statistic__info-4 {
  margin: 0 -10px 0 0;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments {
  width: 100%;
  padding-top: 66px;
  margin-bottom: 84px;
}
.comments__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.comments__container .comments__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.comments__container .comments__block .comments-title {
  font: bold 33px "Open Sans", sans-serif;
  letter-spacing: 1px;
}
.comments__container .comments__block .comments__slider {
  width: 100%;
}
.comments__container .comments__block .comments__slider .slick-list {
  overflow: hidden;
}
.comments__container .comments__block .comments__slider .slick-track {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.comments__container .comments__block .comments__slider .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.comments__container .comments__block .comments__slider .slick-slide .comments__slider-item {
  margin-bottom: 105px;
}
.comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text {
  position: relative;
  margin: 0 auto 20px auto;
  width: 1010px;
  padding: 25px 55px 10px 55px;
}
.comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text .comments__slider-item-comment {
  font: 22px "Open Sans", sans-serif;
  line-height: 37px;
}
.comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text .right-quote {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text .left-quote {
  position: absolute;
  top: 10px;
  left: 0;
}
.comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-person h2 {
  font: 20px "Open Sans", sans-serif;
}
.comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-person p {
  font: 16px "Open Sans", sans-serif;
  font-style: italic;
}

@media (max-width: 497px) {
  .content .comments {
    padding-top: 30px;
    margin-bottom: 42px;
  }
  .content .comments__container {
    max-width: 320px;
    margin: 0 auto;
  }
  .content .comments__container .comments__block {
    padding: 0 15px;
  }
  .content .comments__container .comments__block .comments-title {
    text-align: center;
    font: bold 24px "Open Sans", sans-serif;
    letter-spacing: 1px;
    margin-bottom: -2px;
  }
  .content .comments__container .comments__block .comments__slider .slick-slide .comments__slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 98px;
  }
  .content .comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text {
    position: relative;
    margin: 0 auto 8px auto;
    width: 300px;
    padding: 12px 25px 6px 25px;
  }
  .content .comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text .comments__slider-item-comment {
    font: 14px "Open Sans", sans-serif;
    line-height: 21px;
  }
  .content .comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text .right-quote {
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  .content .comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text .right-quote img {
    width: 24px;
    height: 24px;
  }
  .content .comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text .left-quote {
    position: absolute;
    top: 10px;
    left: 0;
  }
  .content .comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-text .left-quote img {
    width: 24px;
    height: 24px;
  }
  .content .comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-person h2 {
    font: 16px "Open Sans", sans-serif;
  }
  .content .comments__container .comments__block .comments__slider .slick-slide .comments__slider-item .comments__slider-item-person p {
    font: 14px "Open Sans", sans-serif;
    font-style: italic;
  }
}
@media (max-width: 1440px) {
  .register__container {
    max-width: min(1250px, 100%);
  }
}
@media (max-width: 1250px) {
  .register__container {
    max-width: min(992px, 100%);
  }
  .statistic {
    padding: 45px 0;
  }
  .statistic__container {
    max-width: min(992px, 100%);
  }
  .statistic__container .statistic__info img {
    width: 85px;
    height: 60px;
  }
  .statistic__container .statistic__info h2 {
    font: bold 22px "Open Sans", sans-serif;
    margin: 14px 0 6px 0;
  }
  .statistic__container .statistic__info p {
    font: 14px "Open Sans", sans-serif;
  }
  .statistic__container .statistic__info-1 {
    margin: 0 -8px 0 68px;
  }
  .statistic__container .statistic__info-2 {
    margin: 0 0 0 19px;
  }
  .statistic__container .statistic__info-3 {
    margin: 0 -17px 0 24px;
  }
  .statistic__container .statistic__info-4 {
    margin: 0 -5px 0 0;
  }
  .register__info {
    margin: -1.5em 0 0 -1.2em;
    padding: 0 15px;
  }
  .register__info-h {
    font: 700 28px "Open Sans", sans-serif;
    line-height: 2.4em;
  }
  .register__info-p {
    font: 14px "Open Sans", sans-serif;
    line-height: 26px;
    padding: 0 2em;
  }
  .register__form-input #register__choise,
  .register__form-input #register__email,
  .register__form-input #register__lastname,
  .register__form-input #register__name,
  .register__form-input #register__phone {
    width: 475px;
  }
  #register__submit {
    width: 310px;
  }
}
@media (max-width: 992px) {
  .content {
    margin-top: 84px;
  }
  .content .statistic__container {
    max-width: min(792px, 100%);
  }
  .content .statistic__container .statistic__info img {
    width: 85px;
    height: 60px;
  }
  .content .statistic__container .statistic__info h2 {
    font: bold 18px "Open Sans", sans-serif;
    margin: 14px 0 6px 0;
  }
  .content .statistic__container .statistic__info p {
    font: 12px "Open Sans", sans-serif;
  }
  .content .statistic__container .statistic__info-1 {
    margin: 6px 0 13px;
  }
  .content .statistic__container .statistic__info-2 {
    margin: 0 6px 0 9px;
  }
  .content .statistic__container .statistic__info-3 {
    margin: 0 6px 0 11px;
  }
  .content .statistic__container .statistic__info-4 {
    margin: 0 -5px 0 0;
  }
  .content .register {
    padding-top: 40px;
  }
  .content .register__container {
    max-width: min(792px, 100%);
  }
  .content .register__container .register__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register__info {
    margin: -1.5em 0 40px 0;
    padding: 0 15px;
  }
  .register__info-h {
    font: 700 28px "Open Sans", sans-serif;
    line-height: 2.4em;
  }
  .register__info-p {
    font: 14px "Open Sans", sans-serif;
    line-height: 26px;
    padding: 0 2.8em;
  }
  .register__form {
    align-items: center;
  }
  .register__form-input #register__choise,
  .register__form-input #register__email,
  .register__form-input #register__lastname,
  .register__form-input #register__name,
  .register__form-input #register__phone {
    width: 450px;
  }
  #register__submit {
    width: 290px;
  }
}
@media (max-width: 798px) {
  .content {
    margin-top: 70px;
  }
  .content .register {
    padding-top: 40px;
  }
  .content .register__container {
    max-width: min(697px, 100%);
  }
  .register__info {
    margin: -1.5em 0 50px -1.2em;
    padding: 0 15px;
  }
  .register__info-p {
    padding: 0 2.4em;
  }
}
@media (max-width: 697px) {
  .content .register {
    padding-top: 40px;
  }
  .content .register__container {
    max-width: min(512px, 100%);
  }
  .register__info {
    margin: -1em 0 40px 0;
    padding: 0;
  }
  .register__info-h {
    font: 700 28px "Open Sans", sans-serif;
    line-height: 1.4em;
    margin-bottom: 10px;
  }
  .register__info-p {
    font: 14px "Open Sans", sans-serif;
    line-height: 26px;
    padding: 0 5px;
  }
  .register__form {
    align-items: center;
  }
  .register__form-input #register__choise,
  .register__form-input #register__email,
  .register__form-input #register__lastname,
  .register__form-input #register__name,
  .register__form-input #register__phone {
    width: 350px;
    height: 46px;
  }
  #register__submit {
    width: 280px;
  }
}
@media (max-width: 512px) {
  .content .statistic {
    padding: 30px 0;
  }
  .content .statistic__container {
    max-width: 320px;
  }
  .content .statistic__container .statistic__info {
    justify-content: center;
  }
  .content .statistic__container .statistic__info img {
    width: 85px;
    height: 60px;
  }
  .content .statistic__container .statistic__info h2 {
    font: bold 16px "Open Sans", sans-serif;
    margin: 6px 0 6px 0;
  }
  .content .statistic__container .statistic__info p {
    font: 12px "Open Sans", sans-serif;
  }
  .content .statistic__container .statistic__info-1 {
    padding: 10px 7px;
    margin: 0;
  }
  .content .statistic__container .statistic__info-2 {
    padding: 10px 7px;
    margin: 0;
  }
  .content .statistic__container .statistic__info-3 {
    padding: 10px 7px;
    margin: 0;
  }
  .content .statistic__container .statistic__info-4 {
    text-align: center;
    width: 150px;
    padding: 10px 7px 10px 10px;
  }
  .content .register {
    padding-top: 40px;
  }
  .content .register__container {
    max-width: 320px;
  }
  .register__info {
    margin: -0.7em 0 50px 0;
    padding: 0;
  }
  .register__info-h {
    font: 700 22px "Open Sans", sans-serif;
    line-height: 1.4em;
    margin-bottom: 18px;
  }
  .register__info-p {
    font: 14px "Open Sans", sans-serif;
    line-height: 1.8em;
    letter-spacing: 0;
    padding: 0;
  }
  .register__form {
    align-items: center;
  }
  .register__form-input #register__choise,
  .register__form-input #register__email,
  .register__form-input #register__lastname,
  .register__form-input #register__name,
  .register__form-input #register__phone {
    width: 290px;
    height: 42px;
  }
  .register__form-application .register__label-checkbox .register__required {
    top: 22px;
  }
  #register__submit {
    width: 280px;
  }
}