/* Header */
$shadow: 0 0 15px rgba(0, 0, 0, 0.4);
$list-menu: 10px 20px;
$list-menu-small: 10px 15px;
/* Font for all Layout */
$font: 16px "Open Sans", sans-serif;
$font-small: 14px "Open Sans", sans-serif;
/* Letter-spacing standard value */
$spacing: 1px;
/* Burger-toggle */
$burger-toggle: #ffffff;
$burger-toggle-wight: 25px;
$burger-toggle-height: 2px;
/* Animation */
$animation: all 0.3s ease 0.5s;
/* Font for h in register */
$font-h1: bold 33px "Open Sans", sans-serif;
$font-h1-small: 700 28px "Open Sans", sans-serif;
$font-h1-mobile: 700 22px "Open Sans", sans-serif;
$font-h2: bold 20px "Open Sans", sans-serif;
$font-h1-course: bold 24px "Open Sans", sans-serif;
$font-h2-course: bold 20px "Open Sans", sans-serif;
