/* Comments slider */

.comments {
  width: 100%;
  padding-top: 66px;
  margin-bottom: 0;

  &__container {
    max-width: min(1250px, 100%);
    margin: 0 auto;

    & .comments__block {
      @include flex-column;
      align-items: center;
      padding: 0 15px;

      .comments-title {
        font: $font-h1;
        letter-spacing: $spacing;
      }

      .comments__slider {
        width: 100%;

        .slick-list {
          overflow: hidden;
        }

        .slick-track {
          display: flex;
          justify-content: center;
          overflow: hidden;
          width: 100%
        }

        .slick-slide {
          @include flex-column;
          align-items: center;
          text-align: center;

          .comments__slider-item {
            margin-bottom: 105px;

            .comments__slider-item-text {
              position: relative;
              margin: 0 auto 20px auto;
              width: 1010px;
              padding: 25px 55px 10px 55px;

              .comments__slider-item-comment {
                font: $font-big;
                line-height: 37px;
              }

              .right-quote {
                position: absolute;
                bottom: 10px;
                right: 0;
              }

              .left-quote {
                position: absolute;
                top: 10px;
                left: 0;
              }
            }

            .comments__slider-item-person {
              h2 {
                font: $font-h2;
              }

              p {
                font: $font;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }
}

/* Adaptive for comments slider */

@media (max-width: 1250px) {
  .content {
    .comments {
      &__container {
        max-width: min(992px, 100%);

        & .comments__block {
          .comments-title {
            font: $font-h1-small;
          }

          .comments__slider {
            .slick-list {
            }

            .slick-track {
            }

            .slick-slide {
              .comments__slider-item {
                margin-bottom: 100px;

                .comments__slider-item-text {
                  position: relative;
                  margin: 0 auto 16px auto;
                  width: 970px;
                  padding: 24px 45px 6px 45px;

                  .comments__slider-item-comment {
                    font: $font-comment;
                    line-height: 35px;
                  }

                  .right-quote {
                    img {
                      width: 56px;
                      height: 28px;
                    }
                  }

                  .left-quote {
                    img {
                      width: 56px;
                      height: 28px;
                    }
                  }
                }

                .comments__slider-item-person {
                  h2 {
                    font: $font-h2-small;
                  }

                  p {
                    font: $font;
                    font-style: italic;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .content {
    .comments {
      &__container {
        max-width: min(798px, 100%);

        & .comments__block {
          .comments-title {
          }

          .comments__slider {
            .slick-list {
            }

            .slick-track {
            }

            .slick-slide {
              .comments__slider-item {
                .comments__slider-item-text {
                  position: relative;
                  margin: 0 auto 14px auto;
                  width: 700px;
                  padding: 20px 4px 6px 40px;

                  .comments__slider-item-comment {
                    font: $font-h2-small;
                    line-height: 32px;
                  }

                  .right-quote {
                    bottom: 5px;
                    right: 0;

                    img {
                      width: 50px;
                      height: 26px;
                    }
                  }

                  .left-quote {
                    top: 10px;
                    left: -5px;

                    img {
                      width: 50px;
                      height: 26px;
                    }
                  }
                }

                .comments__slider-item-person {
                  h2 {
                    font: $font-h2-small;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 798px) {
  .content {
    .comments {
      padding-top: 30px;
      margin-bottom: -10px;

      &__container {
        max-width: min(697px, 100%);

        & .comments__block {
          .comments-title {
            text-align: center;
            font: $font-h1-mobile;
            letter-spacing: $spacing;
          }

          .comments__slider {
            .slick-list {
            }

            .slick-track {
            }

            .slick-slide {
              .comments__slider-item {
                @include flex-column;
                justify-content: center;
                align-items: center;
                margin-bottom: 98px;

                .comments__slider-item-text {
                  position: relative;
                  margin: 0 auto 12px auto;
                  width: 600px;
                  padding: 22px 20px 16px 30px;

                  .comments__slider-item-comment {
                    font: $font-small;
                    line-height: 27px;
                  }

                  .right-quote {
                    position: absolute;
                    bottom: 10px;
                    right: 0;

                    img {
                      width: 40px;
                      height: 26px;
                    }
                  }

                  .left-quote {
                    position: absolute;
                    top: 10px;
                    left: -5px;

                    img {
                      width: 40px;
                      height: 26px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 697px) {
  .content {
    .comments {
      padding-top: 30px;
      margin-bottom: -10px;

      &__container {
        max-width: min(497px, 100%);

        & .comments__block {
          .comments-title {
            text-align: center;
            letter-spacing: $spacing;
          }

          .comments__slider {
            .slick-list {
            }

            .slick-track {
            }

            .slick-slide {
              .comments__slider-item {
                @include flex-column;
                justify-content: center;
                align-items: center;
                margin-bottom: 98px;

                .comments__slider-item-text {
                  position: relative;
                  margin: 0 auto 8px auto;
                  width: 360px;
                  padding: 14px 27px 8px 27px;

                  .comments__slider-item-comment {
                    font: $font-small;
                    line-height: 24px;
                  }

                  .right-quote {
                    position: absolute;
                    bottom: 10px;
                    right: 0;

                    img {
                      width: 24px;
                      height: 24px;
                    }
                  }

                  .left-quote {
                    position: absolute;
                    top: 10px;
                    left: 0;

                    img {
                      width: 24px;
                      height: 24px;
                    }
                  }
                }

                .comments__slider-item-person {
                  h2 {
                    font: $font-bold;
                  }

                  p {
                    font: $font-small;
                    font-style: italic;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 497px) {
  .content {
    .comments {
      padding-top: 33px;
      margin-bottom: -10px;

      &__container {
        max-width: 320px;

        & .comments__block {
          .comments-title {
            text-align: center;
            letter-spacing: $spacing;
            margin-bottom: 2px;
          }

          .comments__slider {
            .slick-list {
            }

            .slick-track {
            }

            .slick-slide {
              .comments__slider-item {
                @include flex-column;
                justify-content: center;
                align-items: center;
                margin-bottom: 98px;

                .comments__slider-item-text {
                  position: relative;
                  margin: 0 auto 8px auto;
                  width: 300px;
                  padding: 12px 25px 6px 25px;

                  .comments__slider-item-comment {
                    font: $font-small;
                    line-height: 21px;
                  }

                  .right-quote {
                    position: absolute;
                    bottom: 10px;
                    right: 0;

                    img {
                      width: 24px;
                      height: 24px;
                    }
                  }

                  .left-quote {
                    position: absolute;
                    top: 10px;
                    left: 0;

                    img {
                      width: 24px;
                      height: 24px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
