/* Course slider */

@import "scss/components/slider-dots";

.course {
  width: 100%;
  padding-top: 66px;
  margin-bottom: 90px;

  &__container {
    max-width: min(1250px, 100%);
    margin: 0 auto;

    & .course__block {
      @include flex-column;
      align-items: center;
      padding: 0 15px;

      .course-title {
        font: $font-h1;
        letter-spacing: $spacing;
        margin-bottom: 30px;
      }

      .course__item {
        width: 100%;

        .slick-list {
          overflow: hidden;
        }

        .slick-track {
          display: flex;
          justify-content: center;
          overflow: hidden;
          width: 100%
        }

        .slick-dots li {
          padding-top: 15px;
          margin-bottom: -40px;
        }

        .slick-slide {
          @include flex-column;
          align-items: center;
          text-align: center;

          .course__item-title {
            font: $font-h1-mobile;
            padding: 18px 0;
            margin-bottom: 30px;
            letter-spacing: 0.068em;
            border-bottom: 1px solid $course-color;
          }

          .course__item-description {
            font: $font;
            color: $gray;
            line-height: 25px;
            padding: 0 32px;
          }
        }
      }
    }
  }
}

/* Adaptive for course slider */

@media (max-width: 1440px) {
  .content {
    .course {
      .course__container {
        max-width: min(1250px, 100%);
      }
    }
  }
}

@media (max-width: 1250px) {
  .content {
    .course {
      margin-bottom: 80px;

      .course__container {
        max-width: min(992px, 100%);

        .course__block {
          .course-title {
            font: $font-h1-small;
            margin-bottom: 24px;
          }

          .course__item {
            .slick-slide {
              .course__item-title {
                font: $font-h2;
                padding: 16px 0 14px 0;
                margin-bottom: 24px;
                letter-spacing: 0.034em;
                border-bottom: 1px solid $course-color;
              }

              .course__item-description {
                font: $font-small;
                color: $gray;
                line-height: 24px;
                padding: 0 28px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .content {
    .course {
      padding-top: 40px;
      margin-bottom: 60px;

      .course__container {
        max-width: min(798px, 100%);

        .course__block {
          .course-title {
            font: $font-h1-small;
            margin-bottom: 26px
          }

          .course__item {
            .slick-dots li {
              list-style: none;
              padding: 0;
              margin: 0 7px 40px 7px;
            }

            .slick-slide {
              .course__item-description {
                padding: 0 15px;
                margin-bottom: 42px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 798px) {
  .content {
    .course {
      padding-top: 40px;

      .course__container {
        max-width: min(497px, 100%);

        .course__block {
          .course-title {
            font: $font-h1-mobile;
            letter-spacing: 0.075em;
            margin-bottom: 25px;
          }

          .course__item {
            .slick-slide {
              padding: 0 40px;

              .course__item-title {
                font: $font-h2;
                padding: 20px 0 10px 0;
                line-height: 22px;
                margin-bottom: 14px;
                border-bottom: 1px solid $course-color;
              }

              .course__item-description {
                font: $font-small;
                color: $gray;
                line-height: 23px;
                padding: 0 40px;
                margin-bottom: 42px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 697px) {
  .content {
    .course {
      padding-top: 40px;

      .course__container {
        max-width: min(497px, 100%);
      }
    }
  }
}

@media (max-width: 497px) {
  .content {
    .course {
      padding-top: 68px;
      margin-bottom: 32px;

      .course__container {
        max-width: 320px;

        .course__block {
          .course-title {
            font: $font-h1-mobile;
            letter-spacing: 0.075em;
            margin-bottom: 30px;
          }

          .course__item {
            .slick-slide {
              padding: 0 15px;

              .course__item-title {
                font: $font-h2;
                padding: 20px 0 5px 0;
                line-height: 23px;
                margin-bottom: 14px;
                border-bottom: 1px solid $course-color;
              }

              .course__item-description {
                font: $font-small;
                color: $gray;
                line-height: 22px;
                padding: 0;
                margin-bottom: 42px;
              }
            }
          }
        }
      }
    }
  }
}
