.statistic {
  padding: 65px 0;
  width: 100%;
  background-color: #3498db;
}
.statistic__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;

  .statistic__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;


    & img {
      width: 85px;
      height: 60px;
    }

    & h2 {
      font: bold 28px "Open Sans", sans-serif;
      color: #ffffff;
      margin: 20px 0 10px 0;
    }

    & p {
      font: $font;
      color: #ffffff;
    }

    &-1 {
      margin: 0 26px 0 58px;
      padding: 15px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-2 {
      margin: 0 24px 0 40px;
      padding: 15px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-3 {
      margin: 0 24px 0 50px;
      padding: 15px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-4 {
      margin: 0 -10px 0 0;
      padding: 15px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}