/* Statistic information */

.statistic {
  padding: 80px 0;
  width: 100%;
  background-color: $blue;

  .statistic__container {
    max-width: min(1250px, 100%);
    margin: 0 auto;

    .statistic__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      & img {
        width: 85px;
        height: 60px;
      }

      & h2 {
        font: $font-h2-bigger;
        color: $white;
        margin: 20px 0 10px 0;
      }

      & p {
        font: $font;
        color: $white;
      }

      &-1 {
        padding: 0 15px;
        margin-left: 65px;
        @include flex-column;
        align-items: center;
      }

      &-2 {
        padding: 0 15px;
        margin-left: 50px;
        @include flex-column;
        align-items: center;
      }

      &-3 {
        margin-left: 50px;
        padding: 0 15px;
        @include flex-column;
        align-items: center;
      }

      &-4 {
        padding: 0 15px;
        @include flex-column;
        align-items: center;
      }
    }
  }
}

/* Adaptive fot statistic information */

@media (max-width: 1250px) {
  .content {
    .statistic {
      padding: 55px 0;

      .statistic__container {
        max-width: min(992px, 100%);

        .statistic__info {
          & img {
            width: 85px;
            height: 60px;
          }

          & h2 {
            font: $font-h2-big;
            margin: 14px 0 6px 0;
          }

          & p {
            font: $font-small;
          }

          &-1 {
            margin-left: 50px;
          }

          &-2 {
            margin-left: 45px;
          }

          &-3 {
            margin-left: 45px;
          }

          &-4 {
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .content {
    .statistic {
      padding: 40px 0;
      margin: 0 auto;

      .statistic__container {
        max-width: min(396px, 100%);
        margin: 0 auto;

        .statistic__info {
          justify-content: space-between;
          align-items: center;
          margin: 0 auto;

          & img {
            width: 85px;
            height: 60px;
          }

          & h2 {
            font: $font-h2-small;
            margin: 8px 0 6px 0;
          }

          & p {
            font: $font-small;
          }

          &-1 {
            margin: 0;
            padding: 0 12px 12px 12px;
          }

          &-2 {
            margin: 0;
            padding: 0 12px 12px 12px;
          }

          &-3 {
            padding: 5px 5px;
            margin: 0 9px 0 12px;
          }

          &-4 {
            text-align: center;
            width: 140px;
            margin: 0 25px;
            margin-top: 10px;
            padding: 0 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 396px) {
  .content {
    .statistic {
      padding: 40px 0;

      .statistic__container {
        max-width: 320px;

        .statistic__info {
          justify-content: space-between;

          & img {
            width: 85px;
            height: 60px;
          }

          & h2 {
            font: $font-bold;
            margin: 6px 0 6px 0;
          }

          & p {
            font: $font-smaller;
          }

          &-1 {
            margin: 0 3px 0 7px;
            padding: 0 0 10px 0;
          }

          &-2 {
            margin: 0 7px 0 3px;
            padding: 0 0 10px 0;
          }

          &-3 {
            padding: 5px 5px;
            margin: 0 5px 0 10px;
          }

          &-4 {
            text-align: center;
            width: 120px;
            margin: 0 15px;
            margin-top: 10px;
            padding: 0 5px;
          }
        }
      }
    }
  }
}
