/* Footer */

.footer {
  padding-top: 20px;
  width: 100%;
  margin-top: auto;

  .mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
  }

  .gmap_iframe {
    height: 400px !important;
  }

  .footer__color {
    display: flex;
    width: 100%;
    background-color: $blue;
  }

  &__container {
    max-width: min(1250px, 100%);
    margin: 0 auto;

    .footer__contact {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 1130px;
      padding: 40px 15px;

      /* Footer contact`s */

      & h2 {
        font: $font-h2-small;
        color: $white;
        margin: 8px 0 4px 0;
      }

      & p {
        font: $font-small;
        color: $white;
      }

      &-1 {
        margin-left: 16px;
        padding: 0 15px;
        @include flex-column;
        align-items: center;
      }

      &-2 {
        margin-left: 42px;
        padding: 0 15px;
        @include flex-column;
        align-items: center;
      }

      &-3 {
        margin-left: 24px;
        padding: 0 15px;
        @include flex-column;
        align-items: center;
      }

      &-4 {
        padding: 0 15px;
        @include flex-column;
        align-items: center;
      }
    }
  }

  /* Information for document */

  .footer__company {
    @include flex-column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 34px;
    background-color: $white;

    a {
      padding: 12px;
      color: $black;

      &:first-of-type {
        color: $blue;
      }
    }
  }
}

/* Adaptive for footer */

@media (max-width: 1250px) {
  .footer {
    .footer__color {
      .footer__container {
        max-width: min(992px, 100%);

        .footer__contact {
          width: 992px;

          /* Footer contact`s */

          & img {
            height: 55px;
          }

          & h2 {
            margin: 6px 0 2px 0;
          }

          &-1 {
            margin-left: 50px;
          }

          &-2 {
            margin-left: 45px;
          }

          &-3 {
            margin-right: 10px;
          }

          &-4 {
            margin-right: 35px;
          }
        }
      }
    }
  }

  /* Information for document */

  .footer__company {
    padding: 30px;

    a {
      padding: 10px;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    margin: 0 auto;

    .footer__color {
      .footer__container {
        max-width: min(396px, 100%);
        margin: 0 auto;

        .footer__contact {
          justify-content: space-between;
          align-items: center;
          width: 396px;
          margin: 0 auto;
          padding: 15px 15px;

          /* Footer contact`s */

          & img {
            height: 60px;
          }

          & h2 {
            font: $font-bold;
            margin: 8px 0 6px 0;
          }

          & p {
            font: $font-smaller;
          }

          &-1 {
            margin-left: 20px;
            padding: 10px;
          }

          &-2 {
            margin-right: 28px;
            padding: 10px;
          }

          &-3 {
            padding: 10px;
            margin-right: 0px;
            margin-left: 8px;
          }

          &-4 {
            margin-right: 8px;
            padding: 10px;
          }
        }
      }
    }

    /* Information for document */

    .footer__company {
      padding: 25px;

      a {
        padding: 8px;
      }
    }
  }
}

@media (max-width: 396px) {
  .footer {
    padding-top: 0;
    margin: -12px auto 0 auto;

    .footer__color {
      .footer__container {
        max-width: 320px;
        margin: 0 auto;

        /* Footer contact`s */

        .footer__contact {
          justify-content: space-between;
          align-items: center;
          width: 320px;
          margin: 0 auto;
          padding: 23px 15px;

          & img {
            width: 46px;
            height: 46px;
          }

          & h2 {
            font: $font-bold;
            margin: 4px 0 2px 0;
          }

          & p {
            font: $font-smaller;
          }

          &-1 {
            margin-left: 10px;
            padding: 10px;
          }

          &-2 {
            margin-left: 0;
            margin-right: 16px;
            padding: 10px;
          }

          &-3 {
            padding: 10px 5px;
            margin: 0;

            img {
              width: 30px;
            }
          }

          &-4 {
            margin-right: 0;
            padding: 10px 5px;
          }
        }
      }
    }

    /* Information for document */

    .footer__company {
      padding: 22px;

      a {
        font: $font-small;
        padding: 6px;
      }
    }
  }
}
