/* Header */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: $shadow;
  z-index: 1100;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 15;
  }

  &__container {
    max-width: min(1250px, 100%);
    margin: 0 auto;

    .header__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      .header__logo {
        margin: 10px auto 10px 0;
        z-index: 20;
      }

      .header__menu {
        z-index: 20;

        .header__menu-list {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 40px 0 41px auto;

          .header__menu-list-item {
            text-align: center;
            font: $font-small;
            letter-spacing: 0.0235em;

            .header__menu-list-link {
              color: $black;
              padding: $list-menu;

              &:hover {
                background-color: $hover-menu;
                color: $light-blue;
              }

              &.header__menu-list-link-application {
                background-color: $light-blue;
                color: $white;
                border-radius: 50px;
                font: $font-application;

                &:hover {
                  background-color: $blue;
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Adaptive for header */

@media (max-width: 1440px) {
  .header {
    &__container {
      max-width: min(1250px, 100%);
    }
  }
}

@media (max-width: 1250px) {
  .header {
    &__container {
      max-width: min(992px, 100%);
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__container {
      max-width: min(798px, 100%);

      .header__block {
        .header__logo {
          margin: 7px auto 7px 0;

          img {
            width: 70px;
            height: 70px;
          }
        }

        .header__menu {
          .header__menu-list {
            margin: 32px 0 33px auto;

            .header__menu-list-item {
              .header__menu-list-link {
                padding: $list-menu-small;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 798px) {
  .header {
    &__container {
      max-width: min(697px, 100%);

      .header__block {
        .header__logo {
          margin: 5px auto 5px 0;

          img {
            width: 60px;
            height: 60px;
          }
        }

        /* Burger-menu  setting`s */

        .header__burger {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 30px;
          border-radius: 4px;
          background-color: $light-blue;
          z-index: 20;
          margin: 20px 0 20px auto;

          .header__burger-toggle {
            display: block;
            position: relative;
            height: $burger-toggle-height;
            width: $burger-toggle-wight;
            background-color: $burger-toggle;

            &::after, &::before {
              content: "";
              position: absolute;
              height: $burger-toggle-height;
              width: $burger-toggle-wight;
              background-color: $burger-toggle;
            }

            &::after {
              bottom: 6px;
            }

            &::before {
              top: 6px;
            }
          }

          &:hover {
            background-color: $blue;
          }
        }

        .header__menu {
          position: fixed;
          top: -120%;
          left: 0;
          width: 100%;
          background-color: $white;
          padding-top: 70px;
          overflow: auto;
          transition: $animation;
          box-shadow: $shadow;
          z-index: 5;

          &.active {
            top: 0;
          }

          .header__menu-list {
            @include flex-column;
            margin: 0;

            .header__menu-list-item {
              margin-bottom: 1.5em;

              &:first-child {
                margin-top: 0.5em;
              }

              &:nth-child(6) {
                margin-bottom: 25px;
              }

              .header__menu-list-link {
                padding: $list-menu;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 697px) {
  .header {
    &__container {
      max-width: min(497px, 100%);
    }
  }
}

@media (max-width: 497px) {
  .header {
    &__container {
      max-width: 320px;
    }
  }
}
